html body {
    background-color: lightskyblue;
  }


  h1 {
    font-size: 72px;
    color: black;
  }
  p{
    font-size: 48px;
   
  }
  
  main{
    background-color: #21a815;
  }

  a {
    font-size: size 10px;
     color: blue;
  }

  body {
    font-size: 31px;
     color: yellow;
  }

/* Add a reusable class to place a border around lists */
.bordered-list {
  border: 3px solid #333;
  padding: 10px;
  border-radius: 6px;
  background: rgba(255,255,255,0.06);
  list-style-position: inside;
  margin: 1em 0;
}

.bordered-list li {
  padding: 6px 4px;
}