html body {
    background-color: lightskyblue;
  }


  h1 {
    font-size: 72px;
    color: black;
  }
  p{
    font-size: 48px;
   
  }
  

  a {
    font-size: ; size: 10px;
     color: blue;
  }
  body {
    font-size: 31px;
     color: yellow;
  }